<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>

	<h1>All tags</h1>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Colour</th>
					<th>Add</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tag : ${tags}">
					<td th:text="${tag.name}"></td>
					<td th:text="${tag.description}"></td>
					<td th:text="${tag.colour}"></td>
					<td>
						<form method="POST"
							th:action="@{'/tag/addExistingTag/' + ${tag.id} + '/' + ${task.id}}">
							<button type="submit" name="submit" value="value">ADD</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>