<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
	<h1>Create a New Tag</h1>
	<form th:action="@{'/tag/add/' + ${project.id}}" 
	    method="POST"
		th:object="${tagForm}">
		
		<table class="table table-hover">
			<tr>
				<td><label for="tagNameInput">Tag Name</label>
				<td><input id=tagNameInput type="text" placeholder="NAME"
					required th:field="*{name}"/></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					th:style="'color:red'"></td>	
			</tr>
			<tr>
				<td><label for="Description">Description</label>
				<td><input type="text" id=Description placeholder="DESCRIPTION"
					th:field="*{description}" /></td>
				<td th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}" th:style="'color:red'"></td>
			</tr>
			
			<tr>
				<td><label for="colourTagInput">ColourTag</label>
				<td><input type="text" id=colourTagInput placeholder="COLOUR TAG"
					  th:field="*{colour}" /></td>
				<td th:if="${#fields.hasErrors('colour')}"
					th:errors="*{colour}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>
					<button type="submit" name="submit" value="value" class="btn btn-outline-primary">ADD A TAG</button>
				</td>
			</tr>
		</table>
	</form><br><br>
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>




