<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<title>TaskManager</title>
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
	<h1>Get started!</h1>
	<h3>Login to create and manage your projects, customise your tasks and more</h3><br>
	<p>
		<a href="/login">
		<button type="button" class="btn btn-primary">LOGIN</button>
		</a>
		
		<a href="/users/register">
		<button type="button" class="btn btn-primary">REGISTER</button>
		</a>
	</p>
	
</body>
</html>

