<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
	<h1>My Projects</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projectsList}">
					<td><a th:href="'/projects/' + ${project.id}"
						th:text="${project.name}"></a></td>
					<td th:text="${project.description}">...</td>
					<td><a th:href="'/task/addTaskForm/' + ${project.id}">
					<button type="button" class="btn btn-outline-primary">ADD A TASK</button>
					</a>
					<td><form method="POST"
							th:action="@{'/delete/' + ${project.id}}">
							<button type="submit" name="submit" value="value" class="btn btn-outline-danger">DELETE THIS PROJECT</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>
