<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>

<body>
	<h1 th:text="${project.name}"></h1>
	<a th:href="@{'/project/shareProjectWithForm' + '/' + ${project.id}}">Share this project</a>
	<h4 th:text="${project.description}" style="color: orange"></h4>
	<div th:if="${members.size()>0}">
		<h3>Shared With:</h3>
		<ul>
			<li th:each="member : ${members}">
				<div th:text="${member.firstName} + ' ' + ${member.lastName}"></div>
			</li>
		</ul>
	</div>
	<a th:href="@{'/project/update' + '/' + ${project.id}}">Update Project</a>
	<h3>Tasks</h3>   		
	<a th:href="@{'/task/addTaskForm/' + ${project.id}}">Add new task</a>
	<ul>
		<li th:each="task : ${project.tasks}">
		<form  th:action="@{'/projects/' + ${project.id} + '/deleteTask/' + ${task.id}}"
	        method="POST">
			<div><a th:href="'/task/' + ${task.id} + '/' + ${project.id}" th:text="${task.name}"></a></div> 
			<div th:text="${task.description}" style="color: orange"></div><br>
			<div><button type="submit" name="submit" value="value">Delete this Task</button></div><br><br>
			 </form>   
		</li>	 
	</ul>
</body>
</html>