<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
	<h1>Share with users</h1>
	<h2>All users</h2>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Share</th>
					<th>UserName</th>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="credentials : ${allCredentials}">
					<td><a
						th:href="@{'/project/shareWith' + '/' + ${credentials.userName} + '/' + ${project.id}}">Share
							with</a></td>
					<td th:text="${credentials.userName}"></td>
					<td th:text="${credentials.user.firstName}"></td>
					<td th:text="${credentials.user.lastName}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>

