<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>

	<h1>Share with members</h1>
	<h2>All members</h2>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Share</th>
					<th>UserName</th>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="credentials : ${membersCredentials}">
					<td><form th:action="@{'/task/shareTaskWith/' + ${credentials.userName} + '/' + ${task.id} + '/' + ${project.id}}" 
							  method="POST">
							  <button type="submit">Share with this user</button>
						</form>
					</td>
					<td th:text="${credentials.userName}"></td>
					<td th:text="${credentials.user.firstName}"></td>
					<td th:text="${credentials.user.lastName}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
