<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
     <font color="grey" size="5">your tag</font>
	<h1 th:text="${tag.name}"></h1>
	<h2 th:text="${tag.colour}"></h2>
	<h3 th:text="${tag.description}" style="color: green"></h3>
	<h3>Linked Tasks</h3>
	<div th:if="${linkedTasks.size()>0}">
	   <ul>
		 <li th:each="task : ${linkedTasks}">
			<div th:text="${task.name}"></div>
		 </li>
	   </ul>
	 </div>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>

