<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
     <font color="grey" size="5">your task</font>
	<h1 th:text="${task.name}"></h1>
	<h3 th:text="${task.description}" style="color: green"></h3>
	<div th:if="${(userForm.id.equals(project.owner.id))}">
	<a th:href="@{'/task/share/' + ${project.id} + '/' + ${task.id}}">Share with Member</a><br><br>
	</div>
	<div th:if="${userForm.id.equals(project.owner.id)}">
	<a th:href="@{'/task/update/' + ${task.id}}">Update Task</a>
	</div>
	<h4>Shared with</h4>
		<div th:if="${task.manager!=null}">
		<div th:text="${task.manager.firstName} + '' + ${task.manager.LastName}"></div>
		</div>
	<h4>Tags</h4>
	<div th:if="${task.tags.size()>0}">
	<div th:each="tag : ${task.tags}">
	<div><a th:href="@{'/tag/'+ ${tag.id} + '/' + ${task.id}}" th:text="${tag.name}"></a></div> 
			<div th:text="${tag.description}" style="color: lightgreen"></div><br>
	</div>
	</div>
	<div th:if="${(userForm.id.equals(project.owner.id))}">
	<a th:href="@{'/tag/addExistingTag/' + ${task.id} + '/' + ${project.id}}">Add Existing Tags</a>
	</div>
	
	<a th:href="'/projects/' + ${project.id} + '/task/' + ${task.id} + '/addComment/'">addComment</a>

	<div th:if="${task.commenti.size()>0}">
		<h3>Comments:</h3>
		<ul>
			<li th:each="commento : ${task.commenti}">
				<div>
					<div th:text=" ${commento.commento} "></div>
					<div th:text="${commento.user.firstName} + ' ' + ${commento.user.lastName}"></div>
				</div>
					</li>
		</ul>
		</div>
	
</body>
</html>