<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
     <font color="grey" size="4">your task</font>
	<h3 th:text="${task.name}"></h3>
	<h6 th:text="'Description: ' + ${task.description}" style="color: violet"></h6><br>
	<div th:if="${(userForm.id.equals(project.owner.id))}">
	<a th:href="@{'/task/share/' + ${project.id} + '/' + ${task.id}}">
	<button type="button" class="btn btn-outline-primary">SHARE WITH MEMBER</button>
	</a><br><br>
	</div>
	<div th:if="${userForm.id.equals(project.owner.id)}">
	<a th:href="@{'/task/update/' + ${task.id}}">
	<button type="button" class="btn btn-outline-warning">UPDATE TASK</button>
	</a>
	</div><br>
	<h4>Shared with</h4>
		<div th:if="${task.manager!=null}">
		<div th:text="${task.manager.firstName} + '' + ${task.manager.LastName}"></div>
		</div><br>
	<h4>Tags</h4>
	<div th:if="${task.tags.size()>0}">
	<div th:each="tag : ${task.tags}">
	<div><a th:href="@{'/tag/'+ ${tag.id} + '/' + ${task.id}}" th:text="${tag.name}"></a></div> 
			<div th:text="${tag.description}" style="color: lightgreen"></div><br>
	</div>
	</div>
	<div th:if="${(userForm.id.equals(project.owner.id))}">
	<a th:href="@{'/tag/addExistingTag/' + ${task.id} + '/' + ${project.id}}">
	<button type="button" class="btn btn-outline-primary">ADD EXISTING TAGS</button>
	</a>
	</div><br><br>
	
	<a th:href="'/projects/' + ${project.id} + '/task/' + ${task.id} + '/addComment/'">
	<button type="button" class="btn btn-outline-primary">ADD A COMMENT</button>
	</a>

	<div th:if="${task.commenti.size()>0}"><br>
		<h4>Comments:</h4>
		<ul>
			<li th:each="commento : ${task.commenti}">
				<div>
					<div th:text=" ${commento.commento} "></div>
					<div th:text="${commento.user.firstName} + ' ' + ${commento.user.lastName}"></div>
				</div><br>
					</li>
		</ul>
		</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>






