<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<title>TaskManager</title>
</head>

<body>
<header th:replace="fragments/base.html :: intestazione"></header>
	<h1>My Profile</h1>
	<table class="table table-hover">
		<tr>
			<td>UserName</td>
			<td th:text="${credentials.userName}">...</td>
		</tr>
		<tr>
			<td>Role</td>
			<td th:text="${credentials.role}">...</td>
		</tr>
		<tr>
			<td>First Name</td>
			<td th:text="${loggedUser.firstName}">...</td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td th:text="${loggedUser.lastName}">...</td>
		</tr>
		<tr>
			<td>Registered at:</td>
			<td th:text="${loggedUser.creationTimestamp}">...</td>
		</tr>
		<tr>
			<td>Last Update at:</td>
			<td th:text="${loggedUser.lastUpdateTimestamp}">...</td>
		</tr>
	</table>
	<h4>
		<a href="/users/update">
		<button type="button" class="btn btn-outline-primary">UPDATE YOUR PROFILE</button>
		</a>
	</h4>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>